.sectionMintingInterface {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 32px 32px;
  margin: auto;
}

.cardContentWrapper {
  max-width: 780px;
  width: 100%;
  gap: 16px;
  padding: 16px;

  border-width: 1px;
  border-style: solid;
  box-shadow: 0 10px 20px rgb(0 31 237 / 19%), 0 6px 6px rgb(226 30 30 / 8%);
  border-style: solid;
  border-image: linear-gradient(to right, transparent, #090c12b1, #f8f8fa94) 1;
  /* height: 308px; */
  background: linear-gradient(113.53deg,
      rgba(255, 255, 255, 0.16) 0.04%,
      rgba(255, 255, 255, 0) 101.07%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: row;
}

.cardImageWrapper {
  padding: 16px;
  height: 100%;
  width: 100%;
}

.cardImage {
  background-size: cover;
  background-image: url('../../public/img/gläserPromo.png');
}

.imgeDesktop {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%; }


.cardContent {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    /* width: 50%; */
    align-content: stretch;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    justify-content: center;
}

.cardContentMobile {
  display: none;
}

.cardContent label,
.cardContent h3,
.cardContent p {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 1.75;
  color: #f8f8fa;
  font-size: 0.8rem;
  text-decoration: none;
}

.iconWrapper {

}

.icon {
  height: 23px;
  color: #f8f8fa;
}

.branding span {
  text-transform: uppercase;
  color: #FAfafa;
  font-family: 'Roboto';
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.label { 
  text-align: left;
  display: flex;
  gap: 8px;
  flex-direction: row;
}

.branding {

}





.cardContent h3 {
  margin: 0.5rem 0 1.38rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0rem;
  font-size: 1.953rem;
}

.cardContent p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.amountTracker {
  align-items: center;
  justify-content: center;
  background: none;
  color: #f8f8fa;
  border-color: #f8f8fa;
  margin: 0;
  width: 100%;
  padding: 16px 16px 16px 16px;
  font-size: 16px;
  display: -moz-inline-box;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-box-align: center;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.button {
  align-items: center;
  justify-content: center;
  background: none;
  color: #f8f8fa;
  border-color: #f8f8fa;
  margin: 0;
  border-radius: 60px;
  width: 100%;
  transition: 0.3s;
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  display: -moz-inline-box;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-box-align: center;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.button:hover {
  background: #f8f8fa;
  color: #090c12;
  border-color: #f8f8fa;
  opacity: 1;
}

@media only screen and (max-width: 1024px) {

  .container {
    padding: 120px 32px;
  }

}

@media only screen and (max-width: 799px) {

  .sectionMintingInterface {
    height: 100%;
  }

  .container {
    padding: 120px 16px;
  }

  .cardContentWrapper {
    flex-direction: column;
    margin: 128px 16px;
    padding: 16px;
    gap: 16px;
  }

  .cardContentMobile {
    display: flex;
    flex-direction: column;
  }

  .cardContentMobile label {
    text-align: left;
  }

  .cardContentMobile h3 {
    text-align: left;
    margin: 0.5rem 0rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0rem;
  font-size: 1.953rem;
  color: #f8f8fa;
  }

  .cardImageWrapper {
    padding: 16px;
    flex-direction: column;
  }

  .cardContent {
  }

  .cardContent h3 {
    display: none;
  }

  .cardContent label {
    display: none;
  }
}