.sectionMintingInterface {
  width: 100vw;
  height: 800px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContent h4  {
  line-height: 12px;
    margin-bottom: 16px;
    font-weight: 800;
}

.backgroundImage {
 
    background-size: cover;
      background-image: url('../../public/img/light_2.gif');
      max-height: 100%;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

.sublineMobile {
  
  display: none;
}

.sublineDesktop {
  
  color: #f8f8fa;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
  text-align: left;
}

.description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  font-size: 1rem;
  color: #f8f8fa;
  transition: 0.3s;
  text-transform: none;
}



.content p {
  line-height: 0.6;
  font-size: 1.1rem;
  font-weight: 800;
}

.labelWrapper {
  /*padding: 4px;*/
}

.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 32px 64px;
  height: auto;
  margin: auto;
}

.cardContentWrapper {
  max-width: 936px;
  width: 100%;
  gap: 32px;
  padding: 32px;

  border-width: 1px;
  border-style: solid;
  box-shadow: 0 10px 20px rgb(0 31 237 / 19%), 0 6px 6px rgb(226 30 30 / 8%);
  border-style: solid;
  border-image: linear-gradient(to right, transparent, #090c12b1, #f8f8fa94) 1;
  height: auto;

  background: linear-gradient(113.53deg, rgb(255 255 255 / 20%) 0.00%, rgb(1 0 0) 90%);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: row;
}



.cardImage {
  height: 100%;
  width: 100%;
  display: flex;
}

.imageDesktop {
  width: auto;
  height: auto;
  max-width: 100%;
  border: 1px solid #f8f8fa;
  box-shadow: 0 10px 20px rgb(233 233 233 / 4%), 0 6px 6px rgb(226 30 30 / 8%);
  border-image: linear-gradient(to bottom, transparent, #090c12b1, #f8f8fa94) 1;
  transition: 0.3s;
}

.imageDesktop:hover {
  
  box-shadow: 0 10px 20px rgb(233 233 233 / 31%), 0 6px 6px rgb(197 197 197 / 6%);

 
}

.cardImageWrapper {
  width: 50%;
  height: 100%;
}

.cardContent {

  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 65%;
  align-content: stretch;
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  justify-content: center;
  display: flex;
}

.cardContentMobile {
  display: none;
}

.cardContent label,
.cardContent h3,
.cardContent p {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;

  color: #f8f8fa;
  font-size: 0.8rem;
  text-decoration: none;
}

.info {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #f8f8fa;
  text-align: left;
  font-size: 1rem;
  line-height: 1.75;
}

.iconWrapper {}

.icon {
  height: 23px;
  color: #f8f8fa;
}

.branding span {
  text-transform: uppercase;
  color: #f8f8fa;
  font-family: 'Roboto';
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.label {
  text-align: left;
  display: flex;
  gap: 8px;
  flex-direction: row;
}

.branding {}





.cardContent h3 {
  margin: 0.5rem 0 0rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 0.6;
  letter-spacing: 0rem;
  font-size: 2.441rem;
  text-transform: uppercase;
  transition: 0.3s;
}

.hightlight  {
  font-family: 'Open Sans', sans-serif;
  line-height: 10px;
  font-weight: 800;
  font-size: 1rem;
  margin-bottom: 16px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 8px;
}



.amountTracker {
  align-items: center;
  justify-content: center;
  background: #f8f8fad7;
  border-radius: 50px;
  color: black;
  border: none;
  margin: 0;
  /* width: 100%; */
  padding: 8px 16px 8px 16px;
  font-size: 12px;
  font-weight: 800;
  margin: 16px 0px;
  transition: 0.3s;
  box-shadow: 0 10px 20px rgb(0 31 237 / 19%), 0 6px 6px rgb(226 30 30 / 8%);

}

.amountTracker:hover {
  background: #f8f8fa;
}

.button {
  align-items: center;
  justify-content: center;
  background: none;
  color: #F8F8FA;
  border: 1px solid #f8f8fa;
  border-color: #f8f8fa;
  margin: 0;
  border-radius: 60px;
  width: 100%;
  transition: 0.3s;
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  display: -moz-inline-box;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-box-align: center;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.button:hover {
  background: #f8f8fa;
  color: #090c12;
  border-color: #f8f8fa;
  opacity: 1;
}

@media only screen and (max-width: 1158px) {

  .cardContent h4 {
    line-height: 26px;
    margin-bottom: 16px;
    font-weight: 800;
}



  .sublineDesktop {
    display: none;
  }

  .sublineMobile {
  display: inline;
  color: #f8f8fa;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
  text-align: left;

}

  .sectionMintingInterface {
    height: 100%;
  }

  .container {
    padding: 32px 32px;
    height: auto;
  }

  .cardContentWrapper {
    max-width: 500px;
    flex-direction: column;
    margin: 128px 16px;
    padding: 32px;
    max-width: 380px;
    gap: 16px;
    transition: 0.3s;
  }

  .cardContent {
    width: 100%;
    padding: 0px;
    gap: 8px;
    
  }

  .cardImageWrapper {
    width: 100%;
}

  .cardContentWrapper {

    width: 100%;

  }

  .cardContentMobile {
    display: flex;
    flex-direction: column;
  }

  .cardContentMobile label {
    text-align: left;
  }

  .cardContentMobile h3 {
    text-align: left;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0rem;
    font-size: 1.953rem;
    color: #f8f8fa;
    text-transform: uppercase;
  }

  .cardContent h3 {
    display: none;
  }

  .cardContent label {
    display: none;
  }

  .cardContent p {
    margin-bottom: 16px;
  }

}

@media only screen and (max-width: 799px) {

  .container {
    padding: 32px 0px;
  }

}

  @media only screen and (max-width: 400px) {

    .cardContentWrapper {
      padding: 16px;
    }
  


}